<div mat-class="restaurant-card" >
  <mat-card class="restaurant-card">
    <mat-card-title> {{restaurant.restaurantInfo.name}}</mat-card-title>
    <mat-card-subtitle> {{restaurant.restaurantInfo.tags}} </mat-card-subtitle>
    <img mat-card-image> IMG<img>
    <mat-card-content>
      <div>{{restaurant.restaurantInfo.address.city + " " + restaurant.restaurantInfo.address.street + " " + restaurant.restaurantInfo.address.building }}</div>
      <div>OPEN: {{restaurant.restaurantInfo.open_time}}</div>
      <div>CLOSE: {{restaurant.restaurantInfo.close_time}}</div>
      <div>Rating: {{restaurant.restaurantInfo.rating}}</div><!--возможно получится переделать под звездочки-->
    </mat-card-content>
    <mat-card-actions>
      <a mat-button routerLink="breakfasts" class="to-breakfasts">Show breakfasts</a>
    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
  </mat-card>
</div>

<div>
  <router-outlet></router-outlet>
</div>
