.restaurant-card {
  margin: 10px auto 10px auto;
  max-width: 300px;
  max-height: 400px;
}

.img-card{
  max-width: 300px;
  max-height: 250px;
}

.restaurant-card-info {
  font-weight: bolder;
}

.star {
}
