<mat-card class="restaurant-card">
  <mat-card-title>{{restaurant.restaurantInfo.name + " " + restaurant.restaurantInfo.img}}</mat-card-title>
  <mat-card-subtitle>{{restaurant.restaurantInfo.tags}}</mat-card-subtitle>
  <img mat-card-image src="{{toBase64(restaurant.restaurantInfo.img)}}" alt="{{restaurant.restaurantInfo.img}}">
  <mat-card-content>
    <div>{{restaurant.restaurantInfo.address.city + " " + restaurant.restaurantInfo.address.street + " " + restaurant.restaurantInfo.address.building }}</div>
    <div>OPEN: {{restaurant.restaurantInfo.open_time}}</div>
    <div>CLOSE: {{restaurant.restaurantInfo.close_time}}</div>
    <div>Rating: {{restaurant.restaurantInfo.rating}}</div><!--возможно получится переделать под звездочки-->
  </mat-card-content>
  <mat-card-actions>
    <a
      mat-stroked-button
      color="primary"
      routerLink="{{restaurant.restaurantId}}/breakfasts"
      class="to-breakfasts"
    >
      Show breakfasts
    </a>
  </mat-card-actions>
  <mat-card-footer></mat-card-footer>
</mat-card>
