<mat-card class="restaurant-card">
  <mat-card-title>{{restaurant.restaurantInfo.name}}</mat-card-title>
  <mat-card-subtitle>{{restaurant.restaurantInfo.tags}}</mat-card-subtitle>
  <img mat-card-image class="img-card" src="{{toBase64(restaurant.restaurantInfo.img)}}"
       alt="{{restaurant.restaurantInfo.img}}">
  <mat-card-content>
    <div>
      <mat-label class="restaurant-card-info">Address:</mat-label>
      {{restaurant.restaurantInfo.address.city + " " +
    restaurant.restaurantInfo.address.street + " " +
    restaurant.restaurantInfo.address.building}}.
    </div>
    <div>
      <mat-label class="restaurant-card-info">Open:</mat-label>
      {{restaurant.restaurantInfo.openTime}}:00.
    </div>
    <div>
      <mat-label class="restaurant-card-info">Close:</mat-label>
      {{restaurant.restaurantInfo.closeTime}}:00.
    </div>
    <div>
      <mat-label class="restaurant-card-info"></mat-label>
      <span *ngFor="let star of starsNumber">
        <mat-icon class="star">star</mat-icon>
      </span>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <a
      mat-stroked-button
      color="primary"
      routerLink="{{restaurant.restaurantId}}/breakfasts"
      class="to-breakfasts"
    >
      Show breakfasts
    </a>
  </mat-card-actions>
  <mat-card-footer></mat-card-footer>
</mat-card>
