.order-details {
  margin-left: 30%;
  display: inline-flex;
}


.order-status {
  display: inline-flex;
  margin-left: 10px;
}

.details-label {
  font-weight: bolder;
}

.details-item {
  border: 1px solid cornflowerblue;
  margin-bottom: -2px;
  font-weight: lighter;
}

.status-step {

}

.my-form-sign-in {
  padding: -10px;
  margin-bottom: -30px;
  margin-top: -10px;
}

