<div *ngIf="user$ | async as user">
  <ng-container *ngIf="user.authenticated; else logInButton">
    <a class="user-menu-button" mat-raised-button routerLink="account/{{user.info.id}}">
      <mat-icon>account_circle</mat-icon> {{user.info.username}}
    </a>
    <button class="user-menu-button" mat-flat-button color="warn" (click)="handleLogoutClick()">
      <mat-icon>exit_to_app</mat-icon>
      Log Out
    </button>
  </ng-container>

  <ng-template #logInButton>
    <button class="user-menu-button" mat-raised-button color="accent" (click)="handleLoginDialogOpen()">
      Log In
    </button>
    <a class="user-menu-button" mat-raised-button color="accent" routerLink="registration">
      Registration
    </a>
  </ng-template>
</div>
