
.label-field {
  font-weight: bolder;
}

.mat-list-field{
  font-weight: inherit;
}

.information{
  width:100%;
  background-color: white;
  bottom: 0;
  position: fixed;
  border-bottom: black;
}

.breakfast-container{
  height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

