<mat-tab-group mat-stretch-tabs dynamicHeight
               *ngIf="selectedOrder != undefined
               && selectedOrderRestaurant != undefined
               && selectedOrderCustomer != undefined" >
  <mat-tab label="{{selectedOrder.orderInfo.name}}">
    <div class="example-small-box mat-elevation-z4">
      <mat-list></mat-list>
      <div> </div>
    </div>
    <mat-list-item class="mat-list-item"><mat-label class="label-field">Restaurant:</mat-label> {{selectedOrderRestaurant.restaurantInfo.name }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="mat-list-item"><mat-label class="label-field">Restaurant address:</mat-label>
      {{selectedOrderRestaurant.restaurantInfo.address.city}},
      {{selectedOrderRestaurant.restaurantInfo.address.street}},
      {{selectedOrderRestaurant.restaurantInfo.address.building}}
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Restaurant working time {{selectedOrderRestaurant.restaurantInfo.openTime}} - {{selectedOrderRestaurant.restaurantInfo.closeTime}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="mat-list-item"> <mat-label class="label-field">Customer address:</mat-label>
      {{selectedOrderCustomer.personalInfo.address.city}},
      {{selectedOrderCustomer.personalInfo.address.street}},
      {{selectedOrderCustomer.personalInfo.address.building}}
    </mat-list-item>

  </mat-tab>
  <mat-tab label="Details">
    <div class="example-large-box mat-elevation-z4">
      <mat-list >
        <div mat-subheader><mat-label class="label-field">From address:&nbsp;</mat-label>
          {{selectedOrderRestaurant.restaurantInfo.address.city}},
          {{selectedOrderRestaurant.restaurantInfo.address.street}},
          {{selectedOrderRestaurant.restaurantInfo.address.building}}
        </div>
        <mat-divider></mat-divider>
        <div mat-subheader>
          <mat-label class="label-field">To address:&nbsp;</mat-label>
          {{selectedOrderCustomer.personalInfo.address.city}},
          {{selectedOrderCustomer.personalInfo.address.street}},
          {{selectedOrderCustomer.personalInfo.address.building}}
        </div>
        <mat-divider></mat-divider>
        <div mat-subheader>
          <mat-label class="label-field">Customer full name:&nbsp;</mat-label>
          {{selectedOrderCustomer.personalInfo.lastName}}&nbsp;
          {{selectedOrderCustomer.personalInfo.firstName}}&nbsp;
          {{selectedOrderCustomer.personalInfo.middleName}}</div>
        <div mat-subheader>
          <mat-label class="label-field">Phone:</mat-label>
          &nbsp;{{selectedOrderCustomer.personalInfo.phoneNumber}}
        </div>
        <mat-divider></mat-divider>
        <div mat-subheader>
          <mat-label class="label-field">Note: </mat-label>
        </div>
        <mat-divider></mat-divider>
        <div mat-subheader>
          <mat-label class="label-field">Ordered breakfasts:</mat-label>
        </div>
        <mat-list-item *ngFor="let breakfast of selectedOrderBreakfasts" class="mat-list-field">
          <mat-divider></mat-divider>
          <div mat-line>
            <mat-label class="label-field">Position:</mat-label>
            {{breakfast.name}}&nbsp;
            <mat-label class="label-field">Price:&nbsp;</mat-label>
            {{breakfast.price}}
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-tab >
  <mat-tab disabled *ngIf="selectedOrder.status == status.WAITING_FOR_DELIVERYMAN">
    <ng-template mat-tab-label>
      <button mat-raised-button color="primary" style="width: 100%" (click)="openDialog()" >
        Take this order
      </button>
    </ng-template>
  </mat-tab>
  <mat-tab disabled>
    <ng-template mat-tab-label>
      <button mat-raised-button color="warn" style="width: 100%" (click)="closeTab()" >
        Close tab
      </button>
    </ng-template>
  </mat-tab>
</mat-tab-group>
<div class="example-button-container">

</div>
