<table mat-table [dataSource]="order" class="orders-table">

    <ng-container matColumnDef = "name">
      <th *matHeaderCellDef mat-header-cell>Name</th>
      <td *matCellDef="let row">
        <a [routerLink]="row.id">
          {{row.orderInfo.name}}
        </a>
      </td>
    </ng-container>


    <ng-container matColumnDef = "status">
      <th *matHeaderCellDef mat-header-cell>Status</th>
      <td *matCellDef="let row">{{row.status}}</td>
    </ng-container>

    <ng-container matColumnDef = "tag">
      <th *matHeaderCellDef mat-header-cell>Tag</th>
      <td *matCellDef="let row">{{row.orderInfo.tag}}</td>
    </ng-container>


    <tr *matHeaderRowDef="columns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: columns" mat-row></tr>
</table>


