<div class="mat-elevation-z8" style="height: 100%">
  <table mat-table [dataSource]="orders" class="orders-table">
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput [(ngModel)]="search">
  </mat-form-field>

    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell>Name</th>
      <td *matCellDef="let row">{{row.orderInfo.name}}#{{row.id}}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th *matHeaderCellDef mat-header-cell>Status</th>
      <td *matCellDef="let row" >{{row.status}}</td>
    </ng-container>

    <ng-container matColumnDef="tag">
      <th *matHeaderCellDef mat-header-cell>Tag</th>
      <td *matCellDef="let row">{{row.orderInfo.tag}}</td>
    </ng-container>


    <tr *matHeaderRowDef="columns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: columns"
        mat-row (click)="selectedOrder = row; handleOrderClick()"
        [class.selected-order]="selectedOrder?.id == row.id"></tr>
  </table>
</div>

