<mat-card class="user-card">
  <mat-card-title> {{user.personalInfo.firstName + " " + user.personalInfo.lastName}}</mat-card-title>
  <mat-card-subtitle> {{user.username}} </mat-card-subtitle>
  <img class="account-card-img" mat-card-image src="{{toBase64(user.personalInfo.img)}}" alt="{{user.personalInfo.img}}">
  <mat-card-content>
    <div>
      Address: {{user.personalInfo.address.city + " " +
    user.personalInfo.address.building + " " +
    user.personalInfo.address.street}}
    </div>
  </mat-card-content>
  <mat-card-actions>
    <a mat-stroked-button color="primary" routerLink="basket">
      <mat-icon>shopping_cart</mat-icon> Basket
    </a>
    <a mat-stroked-button color="primary" routerLink="orders">
      <mat-icon>account_balance_wallet</mat-icon> Orders
    </a>
    <a mat-stroked-button color="accent" routerLink="edit/account">
      <mat-icon>create</mat-icon> Edit
    </a>
  </mat-card-actions>
  <mat-card-footer></mat-card-footer>
</mat-card>
