.user-card {
  margin: 20px auto 10px auto;
  max-width: 390px;
  box-shadow: 0 0 10px 10px lightgray;
}
.account-card-img {
  margin: 1px;
  border-radius: 7px;
  max-width: 350px;
  max-height: 350px;
}
