<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [completed]="form.valid">
    <form #form="ngForm" class="my-form-sign-in" (ngSubmit)="handleFirstFormSubmit(form.value)">
      <ng-template matStepLabel>Fill your username and password</ng-template>

      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput required name="username" ngModel>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" required name="password" ngModel>
      </mat-form-field>

      <mat-radio-group required name="role" ngModel aria-label="Do you want be a ...?">
        <mat-radio-button class="radio-role-button" [value]="Role.DELIVERY">{{Role.DELIVERY | role}}</mat-radio-button>
        <mat-radio-button class="radio-role-button" [value]="Role.USER">{{Role.USER | role}}</mat-radio-button>
      </mat-radio-group>

      <div>
        <button [disabled]="!form.valid" mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [completed]="form1.valid">
    <form #form1="ngForm" class="my-form-sign-in" (ngSubmit)="handleSecondFormSubmit(form1.value)">

      <ng-template matStepLabel>Fill out your personal info</ng-template>
      <mat-form-field>
        <mat-label>First name</mat-label>
        <input matInput required name="firstName" ngModel>
      </mat-form-field>

      <ng-template matStepLabel>Fill out your last name</ng-template>
      <mat-form-field>
        <mat-label>Last name</mat-label>
        <input matInput required name="lastName" ngModel>
      </mat-form-field>

      <ng-template matStepLabel>Fill out your last middle name</ng-template>
      <mat-form-field>
        <mat-label>Middle name</mat-label>
        <input matInput name="middleName" ngModel>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button [disabled]="!form1.valid" mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [completed]="form2.valid">
    <form #form2="ngForm" class="my-form-sign-in" (ngSubmit)="handleThirdFormSubmit(form2.value)">
      <mat-label>Address</mat-label>
      <ng-template matStepLabel>Fill out your address and phone number</ng-template>
      <mat-form-field>
        <mat-label>city</mat-label>
        <input matInput required name="city" ngModel>
      </mat-form-field>

      <ng-template matStepLabel>Fill out street</ng-template>
      <mat-form-field>
        <mat-label>street</mat-label>
        <input matInput required name="street" ngModel>
      </mat-form-field>

      <ng-template matStepLabel>Fill out building</ng-template>
      <mat-form-field>
        <mat-label>building</mat-label>
        <input matInput required name="building" ngModel>
      </mat-form-field>
      <mat-label>Phone number</mat-label>
      <mat-form-field>
        <mat-label>phone number</mat-label>
        <input matInput required name="phoneNumber" ngModel>
      </mat-form-field>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button [disabled]="!form2.valid" mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>


  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button (click)="handleHoleFormSubmit()">Done</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
