.status-label{
  margin-top: 5px;
  display: block;
  font-weight: bolder;
  font-size: 15px;
  text-align: center;
  font-palette: light;
}

.done-text{
  text-align: center;
}

.details-label {
  font-weight: bolder;
}

.details-item {
  border: 1px solid cornflowerblue;
  margin-bottom: -2px;
  font-weight: lighter;
}

.my-form-sign-in {
  font-weight: bold;
}

