<form #form="ngForm"
      (ngSubmit)="handleLoginSubmit(form.value)">

  <div *ngIf="form.errors?.server == true" class="error">
    Incorrect login or password
  </div>

  <div mat-dialog-content class="my-form-sign-in">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput name="username" ngModel required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" name="password" ngModel required>
    </mat-form-field>


  </div>
  <button [disabled]="!form.valid" mat-button color="primary">
    Sign in
  </button>
</form>
