<form #form="ngForm" (ngSubmit)="handleLoginSubmit(form.value)">

  <div mat-dialog-content *ngIf="form.errors?.server == true" class="error">
    Incorrect login or password
  </div>

  <div class="login-fields" mat-dialog-content>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput name="username" ngModel required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" name="password" ngModel required>
    </mat-form-field>

  </div>
  <mat-dialog-actions>
  <button [disabled]="!form.valid" mat-button color="primary">
    Sign in
  </button>
  </mat-dialog-actions>

</form>
