<mat-toolbar color="primary">
  <h1 routerLink="/" class="header-button">{{title}}</h1>
  <div class="nav-buttons">
    <a *ngIf="check" class="toolbar-button" mat-raised-button routerLink="restaurants">Restaurants</a>
    <a class="toolbar-button" mat-raised-button routerLink="orders/order/details">Orders Details</a>
    <a *appHasRole="[Role.ADMIN, Role.DELIVERY]" class="toolbar-button" mat-raised-button routerLink="orders">Orders</a>
  </div>
  <div class="account-group-buttons">
    <app-user-menu></app-user-menu>
  </div>
</mat-toolbar>

<div>
  <router-outlet></router-outlet>
</div>

