.header-button {
  cursor: pointer;
  font-weight: bold;
}

.toolbar-button {
  margin: auto 20px auto auto;
  padding: 10px;
}

.nav-buttons {
  margin: 20px;
}

.nav-buttons a {
  display: inline;
}

.account-group-buttons {
  margin: auto 10px auto auto;
}

.account-group-buttons a {
  display: inline;
}

