<mat-toolbar color="primary">
  <h1 routerLink="/" class="header-button">Tasty Fasty</h1>
  <a class="toolbar-button" mat-raised-button (click)="handleSignIn()">Sign in</a>
  <a class="toolbar-button" mat-raised-button routerLink="registration">Registration</a>
  <a class="toolbar-button" mat-raised-button routerLink="restaurants">Restaurants</a>
  <a class="toolbar-button" mat-raised-button routerLink="basket" >
    <mat-icon>shopping_cart</mat-icon>
    </a>
  <a class="toolbar-button" mat-raised-button routerLink="my-account" >My Profile</a>
</mat-toolbar>

<div>
  <router-outlet></router-outlet>
</div>

