<mat-toolbar color="primary">
  <h1 routerLink="/" class="header-button">{{title}}</h1>
  <div class="nav-buttons">
    <a class="toolbar-button" mat-raised-button routerLink="restaurant">Restaurants</a>
    <a class="toolbar-button" mat-raised-button routerLink="basket">
      <mat-icon>shopping_cart</mat-icon>
    </a>
  </div>
  <div class="account-group-buttons">
    <app-user-menu ></app-user-menu>
    <!--
    <a class="toolbar-button" mat-raised-button routerLink="registration" color="accent"
       *ngIf="isLoggedIn">Registration</a>
    <a class="toolbar-button" mat-raised-button routerLink="my-account" *ngIf="isLoggedIn">My Profile</a>-->
  </div>
</mat-toolbar>


<div>
  <router-outlet></router-outlet>
</div>

